# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

SAMPLE_ENV_VAR=i-am-an-environment-variable


# DATABASE VARS
DATABASE=i-am-a-database-name
DATABASE_USERNAME=-i-am-a-database-username
DATABASE_PASSWORD=i-am-a-database-password
DATABASE_HOST=i-am-a-database-hostname
DATABASE_PORT=i-am-a-database-port

